doctype html
html(lang="da")
    head
        meta(charset="UTF-8")
        title= title 
        // Indlæser altid style.css først (hvis du har en generel fil)
        link(rel="stylesheet", href="/style.css")

        // Indlæser automatisk alle andre filer fra css-mappen
        if cssFiles
            each file in cssFiles
                link(rel="stylesheet", href='/css/' + file)
    body