include includes/header

body#chatpage
  h1 Chat oversigt

  div.action-buttons
    // Link til at oprette en ny chat
    a.create-btn(href="./chats/create") Opret ny chat
    
    if isLoggedIn
       // Link /logout rute i app.js
       a.logoutbtn(href="/logout") Log ud

  ul#chatList
    if chats.length > 0
      each chat in chats
        li
          // Link til den enkelte chat-samtale
          a(href=`/chats/${chat.id}`) #{chat.name}
    else
      p Ingen chats fundet.