include includes/header

body#chatpage
  div.chat-container
    div.chat-header
      // &larr; er en omvendt pil <--
      a.back-btn(href="/chats") &larr; Tilbage
      h1 #{chat.name}

    // Området hvor beskederne vises
    div.messages
      if chat.messages && chat.messages.length > 0
        ul
          each msg in chat.messages
            li.message-bubble 
              strong.user-name #{msg.userName || 'Bruger'}:
              span.message-text #{msg.messageContent || msg.content}
      else
        p.no-messages Ingen beskeder endnu. Vær den første til at skrive!

    // Til at sende ny besked
    form.chat-form(action=`/chats/${chat.id}/messages` method="POST")
      input(type="text" name="content" placeholder="Skriv en besked..." required autocomplete="off")
      button(type="submit") Send
  if isLoggedIn
       // Link /logout rute i app.js
       a.logoutbtn(href="/logout") Log ud