include includes/header

body#chatpage
  h1 Chat oversigt

  div.action-buttons
    // Link til at oprette en ny chat
    if userLvl >=2
      a.create-btn(href="./chats/create") Opret ny chat

    if userLvl == 3
      a.create-btn(href="/users/create") Opret ny bruger
    
    if isLoggedIn
       // Link /logout rute i app.js
       a.logoutbtn(href="/logout") Log ud

  ul#chatList
    if chats.length > 0
      each chat in chats
        // HUSK: klassen .chat-item her (for at få dem på række)
        li.chat-item
          // HUSK: klassen .chat-link her (så den fylder resten af pladsen)
          a.chat-link(href=`/chats/${chat.id}`) #{chat.name}

          if userLvl === 3 || (userLvl >= 2 && chat.user === userId)
          a.delete-chat-btn(href="/") Slet chat
    else
      p Ingen chats fundet.