include includes/header

h1 Velkommen til 
h2 Login her: 
    #login 
            form(action="/login" method="post")
                input(type="text" name="username" placeholder="skriv username")
                input(type="text" name="password" placeholder="skriv kodeord")
                button(type="submit") login 