body#createChat {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 8px;
}

body#createChat h1 {
    font-style: italic
}

body#createChat #create button {
    padding: 8px 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px auto;
    width: 200px;
}

body#createChat #create button {
    background-color: #0056b3;
}

body#frontpage #create input {
  display: block;
  width: 200px;
  margin: 10px auto;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
