body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.logoutbtn{
  background-color: #dc3545;
  color: white;
  padding: 12px 25px;
  border-radius: 30px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: transform 0.2s, background-color 0.2s;
  margin-bottom: 30px;
  display: inline-block;
}

.logoutbtn:hover {
  background-color: #c82333;
  transform: translateY(-2px);
}

.delete-chat-btn:hover {
  background-color: #dc3545;
  color: white;
}

.delete-chat-btn {
  color: #ee495a;
  border: 1px solid #dc3545;
  text-decoration: none;
  font-size: 0.9rem;
  background: rgba(255,255,255,0.2);
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
}

